* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
}

.jumbotron {
    max-width: 600px;
    padding: 30px;
    background: white;
    margin: 100px auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.block {
    display: flex;
    justify-content: space-between;
}

.statusBar {
    margin-top: 20px;
}

.search-container {
    display: flex;
    justify-content: space-between;
}

.btn-outline-info {
    height: 48px;
}

.todo-name {
    margin: 10px 0 0 0;
}

.todo-name.important {
    color: red;
}

.todo-name.done {
    text-decoration: line-through;
}

.list-group {
    margin: 10px 0;
}

.list-group-item {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.edit-form {
    display: none;
}

.edit-form.active {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}


.form-control-lg {
    width: 140%;
}

.addForm {
    display: flex;
    align-items: center;
}

.addInput {
    width: 85%;
    margin-right: 10px;
}

.statusTodo {
    margin: 10px 0 10px 0;
    padding: 117px;
    height: 60%;
}
